@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var n = ViewData["Name"] as string;
    //var a = (int)ViewData["Age"];
    
}
@*@functions{
    public string message(string name){
        return name.ToUpper();
    }
}*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>@message("nadir")</p>*@
    @*<p>@n</p>
    <p>@a</p>*@
    @*<p>@Model.MyMessage</p>*@
    
</div>
